@import url('https://fonts.googleapis.com/css?family=Teko:300,400');

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  background: green !important;
}
